<a href="https://colab.research.google.com/github/amalsaidi10/Churn-prediction/blob/main/result_churn_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [107]:
from google.colab import drive

In [108]:
import pandas as pd

In [109]:
df=pd.read_csv("/content/drive/MyDrive/result.csv")

In [110]:
df.drop(["Unnamed: 0"],axis=1,inplace=True)

In [111]:
df.head()

,CUSTOMER_ID,COLLEGE,DATA,INCOME,OVERCHARGE,LEFTOVER,HOUSE,LESSTHAN600k,CHILD,JOB_CLASS,REVENUE,HANDSET_PRICE,OVER_15MINS_CALLS_PER_MONTH,TIME_CLIENT,AVERAGE_CALL_DURATION,REPORTED_SATISFACTION,REPORTED_USAGE_LEVEL,CONSIDERING_CHANGE_OF_PLAN,CHURNED,CHURN_PROBABILITY
0,C100002,one,80.000000,45452.5,75,65,342741.0,True,3,1,149.0,300,3,2.2,2,unsat,little,considering,1,0.470045
1,C100003,zero,536.842105,40703.5,90,0,215904.0,True,1,1,176.0,384,4,2.4,13,unsat,very_high,actively_looking_into_it,1,0.484531
2,C100004,zero,256.578947,35563.0,52,0,341828.0,True,2,3,124.0,371,5,2.3,12,very_sat,avg,considering,1,0.312073
3,C100005,zero,466.666667,66072.5,0,8,257222.0,True,3,1,279.0,324,1,2.8,5,very_sat,very_little,actively_looking_into_it,1,0.116515
4,C100007,zero,150.000000,21901.5,0,0,800811.0,False,1,3,128.0,164,1,1.5,12,avg,very_high,perhaps,1,0.047330

In [112]:
reste_year=df['INCOME']*12-df['OVERCHARGE']
print(reste_year)

0       545355.0
1       488352.0
2       426704.0
3       792870.0
4       262818.0
          ...
3988    633402.0
3989    700864.0
3990    456131.0
3991    746366.0
3992    617556.0
Length: 3993, dtype: float64

In [113]:
from numpy.core.fromnumeric import mean

df1=df[reste_year-df['REVENUE']<mean(reste_year-df['REVENUE'])]

In [114]:
df1

,CUSTOMER_ID,COLLEGE,DATA,INCOME,OVERCHARGE,LEFTOVER,HOUSE,LESSTHAN600k,CHILD,JOB_CLASS,REVENUE,HANDSET_PRICE,OVER_15MINS_CALLS_PER_MONTH,TIME_CLIENT,AVERAGE_CALL_DURATION,REPORTED_SATISFACTION,REPORTED_USAGE_LEVEL,CONSIDERING_CHANGE_OF_PLAN,CHURNED,CHURN_PROBABILITY
0,C100002,one,80.000000,45452.5,75,65,342741.0,True,3,1,149.0,300,3,2.2,2,unsat,little,considering,1,0.470045
1,C100003,zero,536.842105,40703.5,90,0,215904.0,True,1,1,176.0,384,4,2.4,13,unsat,very_high,actively_looking_into_it,1,0.484531
2,C100004,zero,256.578947,35563.0,52,0,341828.0,True,2,3,124.0,371,5,2.3,12,very_sat,avg,considering,1,0.312073
4,C100007,zero,150.000000,21901.5,0,0,800811.0,False,1,3,128.0,164,1,1.5,12,avg,very_high,perhaps,1,0.047330
5,C100009,zero,540.000000,14447.5,0,0,715285.0,False,3,4,217.0,159,0,1.8,9,sat,high,considering,1,0.125267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3982,C115944,one,118.681319,43487.0,0,81,803902.0,False,4,4,115.0,376,0,4.6,1,very_unsat,little,actively_looking_into_it,1,0.189133
3983,C115945,one,1950.000000,42266.0,0,71,233043.0,True,1,1,121.0,214,1,4.5,2,very_unsat,little,actively_looking_into_it,0,0.675641
3985,C115951,zero,220.000000,42275.5,50,0,188338.0,True,2,4,133.0,258,3,2.1,11,very_unsat,little,considering,1,0.238032
3987,C115956,zero,600.000000,18949.0,0,8,554165.0,True,3,4,208.0,172,0,3.6,5,avg,little,actively_looking_into_it,1,0.147397
3990,C115962,zero,102.762431,38030.5,235,57,612910.0,False,4,1,115.0,140,12,2.1,1,very_sat,high,considering,1,0.187333

df1 is a dataframe contain customer who are the most needed for a discount because after paying their bill phone and their overcharge , they have cno more money in this yrear(they have money less than the mean of money rested for  customer in this dataset

In [115]:
df2=df[df["CHURN_PROBABILITY"] >0.5]
print(df2)

     CUSTOMER_ID COLLEGE         DATA   INCOME  OVERCHARGE  LEFTOVER  \
8        C100033     one   630.000000  12003.5           0         0
10       C100035     one  1000.000000  48029.0          77        12
14       C100046    zero   388.012618  72137.0         217         0
16       C100049    zero   454.225352  32141.5         184        75
18       C100054     one   732.824427  74571.5         162         0
...          ...     ...          ...      ...         ...       ...
3969     C115894     one   329.268293  29102.5         146         0
3975     C115924     one  2130.000000  31008.0           0         0
3979     C115933     one  1227.722772  65271.5         203        61
3983     C115945     one  1950.000000  42266.0           0        71
3989     C115961    zero   540.609137  58424.0         224         7

         HOUSE LESSTHAN600k  CHILD  JOB_CLASS  REVENUE  HANDSET_PRICE  \
8     227976.0         True      2          3    143.0            197
10    513048.0         True      1          1    125.0            349
14    218880.0         True      3          1    104.0            850
16    212123.0         True      0          3     94.0            211
18    957371.0        False      2          1    254.0            644
...        ...          ...    ...        ...      ...            ...
3969  345310.0         True      2          3    105.0            204
3975       NaN          NaN      2          4     95.0            191
3979  244306.0         True      1          4    188.0            797
3983  233043.0         True      1          1    121.0            214
3989  429682.0         True      2          2    213.0            195

      OVER_15MINS_CALLS_PER_MONTH  TIME_CLIENT  AVERAGE_CALL_DURATION  \
8                               1          1.1                     12
10                              5          3.9                      8
14                             14          2.1                      8
16                             24          3.3                      2
18                             27          4.4                     12
...                           ...          ...                    ...
3969                           19          1.7                     10
3975                            1          6.1                      1
3979                           19         12.4                      1
3983                            1          4.5                      2
3989                           17          5.1                      4

     REPORTED_SATISFACTION REPORTED_USAGE_LEVEL CONSIDERING_CHANGE_OF_PLAN  \
8                 very_sat          very_little   actively_looking_into_it
10              very_unsat          very_little   actively_looking_into_it
14              very_unsat               little                    perhaps
16                   unsat                 high                considering
18              very_unsat               little   actively_looking_into_it
...                    ...                  ...                        ...
3969                   avg            very_high                considering
3975            very_unsat          very_little   actively_looking_into_it
3979                 unsat               little   actively_looking_into_it
3983            very_unsat               little   actively_looking_into_it
3989                   sat               little                considering

      CHURNED  CHURN_PROBABILITY
8           0           0.541044
10          0           0.538736
14          0           0.728320
16          0           0.733495
18          0           0.668612
...       ...                ...
3969        0           0.691448
3975        0           0.572579
3979        0           0.833455
3983        0           0.675641
3989        0           0.627760

[900 rows x 20 columns]

df 2 is a dataframe that contain customer who will leave with a probability higher than 0.5

so after analysing the data and understanding the problematique , I propose to contact customer who the probability of leaving is higher than 0.5 
we can change the the threshold, here I fixd to 0.5 but it depends on the client decision

In [116]:
import numpy as np
conditions=[(df["CHURN_PROBABILITY"] >0.5),(df["CHURN_PROBABILITY"] <=0.5)]
values=["yes","NO"]
df['CLIENT_TO_CONTACT'] = np.select(conditions, values)

In [117]:
df.head(50)

,CUSTOMER_ID,COLLEGE,DATA,INCOME,OVERCHARGE,LEFTOVER,HOUSE,LESSTHAN600k,CHILD,JOB_CLASS,...,HANDSET_PRICE,OVER_15MINS_CALLS_PER_MONTH,TIME_CLIENT,AVERAGE_CALL_DURATION,REPORTED_SATISFACTION,REPORTED_USAGE_LEVEL,CONSIDERING_CHANGE_OF_PLAN,CHURNED,CHURN_PROBABILITY,CLIENT_TO_CONTACT
0,C100002,one,80.000000,45452.5,75,65,342741.0,True,3,1,...,300,3,2.2,2,unsat,little,considering,1,0.470045,NO
1,C100003,zero,536.842105,40703.5,90,0,215904.0,True,1,1,...,384,4,2.4,13,unsat,very_high,actively_looking_into_it,1,0.484531,NO
2,C100004,zero,256.578947,35563.0,52,0,341828.0,True,2,3,...,371,5,2.3,12,very_sat,avg,considering,1,0.312073,NO
3,C100005,zero,466.666667,66072.5,0,8,257222.0,True,3,1,...,324,1,2.8,5,very_sat,very_little,actively_looking_into_it,1,0.116515,NO
4,C100007,zero,150.000000,21901.5,0,0,800811.0,False,1,3,...,164,1,1.5,12,avg,very_high,perhaps,1,0.047330,NO
5,C100009,zero,540.000000,14447.5,0,0,715285.0,False,3,4,...,159,0,1.8,9,sat,high,considering,1,0.125267,NO
6,C100019,one,219.230769,11289.0,0,16,215378.0,True,2,3,...,163,1,2.9,4,very_sat,high,considering,1,0.130861,NO
7,C100032,one,105.263158,34274.0,233,18,288131.0,True,3,1,...,245,12,1.8,6,unsat,little,considering,1,0.360618,NO
8,C100033,one,630.000000,12003.5,0,0,227976.0,True,2,3,...,197,1,1.1,12,very_sat,very_little,actively_looking_into_it,0,0.541044,yes
9,C100034,zero,132.075472,30533.5,37,34,310740.0,True,4,3,...,327,4,1.1,1,unsat,very_high,considering,1,0.459370,NO
10,C100035,one,1000.000000,48029.0,77,12,513048.0,True,1,1,...,349,5,3.9,8,very_unsat,very_little,actively_looking_into_it,0,0.538736,yes
11,C100039,one,176.308540,63669.0,229,76,863186.0,False,3,3,...,268,25,5.4,1,sat,little,considering,1,0.197316,NO
12,C100040,zero,425.925926,39602.5,62,0,164844.0,True,1,4,...,312,4,2.3,12,very_sat,very_little,no,1,0.293785,NO
13,C100042,one,648.648649,25308.0,85,33,NaN,NaN,1,1,...,150,4,3.0,1,very_unsat,little,actively_looking_into_it,1,0.485801,NO
14,C100046,zero,388.012618,72137.0,217,0,218880.0,True,3,1,...,850,14,2.1,8,very_unsat,little,perhaps,0,0.728320,yes
15,C100047,zero,135.746606,51091.0,142,20,206751.0,True,3,4,...,378,23,3.0,6,very_unsat,very_little,considering,1,0.399849,NO
16,C100049,zero,454.225352,32141.5,184,75,212123.0,True,0,3,...,211,24,3.3,2,unsat,high,considering,0,0.733495,yes
17,C100052,one,51.993068,97055.0,194,86,290785.0,True,2,3,...,538,22,2.0,1,very_sat,little,no,1,0.436634,NO
18,C100054,one,732.824427,74571.5,162,0,957371.0,False,2,1,...,644,27,4.4,12,very_unsat,little,actively_looking_into_it,0,0.668612,yes
19,C100055,one,321.839080,86085.0,232,19,172941.0,True,3,2,...,514,19,4.6,4,very_unsat,very_little,considering,0,0.689267,yes
20,C100057,zero,516.666667,35347.0,0,8,216966.0,True,2,3,...,364,0,2.1,4,very_unsat,little,considering,1,0.100191,NO
21,C100061,zero,1950.000000,27317.0,0,0,254579.0,True,3,4,...,351,4,4.5,8,very_unsat,very_high,never_thought,1,0.398752,NO
22,C100062,one,1560.000000,42451.5,0,34,908873.0,False,1,4,...,356,3,5.2,1,very_unsat,very_high,never_thought,1,0.132787,NO
23,C100066,zero,493.573265,54350.0,39,25,559388.0,True,3,4,...,603,4,6.4,2,unsat,avg,actively_looking_into_it,1,0.410228,NO
24,C100069,one,473.684211,70513.0,52,0,797779.0,False,2,1,...,590,3,2.4,14,very_sat,little,actively_looking_into_it,1,0.276636,NO
25,C100072,zero,456.521739,54511.5,0,13,265872.0,True,2,4,...,494,0,3.5,4,sat,very_little,considering,1,0.080948,NO
26,C100076,one,182.608696,18753.5,0,13,210151.0,True,3,4,...,737,1,1.4,4,very_unsat,very_high,actively_looking_into_it,1,0.119128,NO
27,C100085,one,305.706522,55674.0,56,58,700949.0,False,3,4,...,484,5,6.5,1,very_unsat,very_high,considering,1,0.250139,NO
28,C100089,zero,95.454545,10977.0,0,12,409798.0,True,2,3,...,231,1,1.7,4,very_sat,very_high,considering,1,0.093144,NO
29,C100095,one,258.992806,28690.5,178,0,627939.0,False,3,3,...,180,20,2.4,2,very_unsat,little,no,1,0.147844,NO
30,C100096,zero,333.333333,26706.5,80,0,586420.0,True,1,1,...,235,5,1.0,8,unsat,very_little,never_thought,1,0.268470,NO
31,C100100,one,553.846154,33585.0,160,0,292934.0,True,3,3,...,211,27,2.8,10,unsat,little,actively_looking_into_it,0,0.802047,yes
32,C100101,one,690.000000,20016.0,0,0,219014.0,True,2,1,...,146,0,2.3,11,very_unsat,little,considering,1,0.312464,NO
33,C100107,one,270.557029,62065.0,67,21,882762.0,False,2,1,...,415,4,2.4,5,very_unsat,little,actively_looking_into_it,1,0.279829,NO
34,C100108,zero,491.916859,58942.0,203,13,930345.0,False,3,3,...,261,28,6.1,5,very_sat,little,considering,1,0.181634,NO
35,C100113,one,62.637363,61604.5,0,81,224686.0,True,4,2,...,813,0,0.9,2,very_unsat,little,actively_looking_into_it,1,0.429326,NO
36,C100115,zero,420.000000,17653.5,0,11,988076.0,False,0,2,...,190,0,2.4,5,avg,very_little,no,1,0.073607,NO
37,C100116,zero,128.048780,22216.0,0,72,438080.0,True,2,3,...,212,1,1.5,2,very_unsat,very_high,no,1,0.471769,NO
38,C100118,one,463.636364,42982.0,230,0,204936.0,True,1,4,...,215,28,5.1,10,very_unsat,very_little,considering,0,0.706044,yes
39,C100124,zero,68.181818,37809.0,0,12,550927.0,True,2,1,...,290,0,1.5,5,very_unsat,very_high,perhaps,1,0.079147,NO
40,C100134,one,156.069364,42318.0,73,0,931209.0,False,2,3,...,317,4,1.9,14,avg,very_little,considering,1,0.059669,NO
41,C100135,one,77.087794,63604.5,67,30,977836.0,False,4,4,...,511,3,1.2,1,very_unsat,little,considering,1,0.168736,NO
42,C100140,one,1080.000000,14258.0,0,0,650380.0,False,3,1,...,200,0,1.6,13,avg,high,actively_looking_into_it,1,0.319251,NO
43,C100142,one,848.101266,75958.5,67,7,233892.0,True,2,2,...,667,5,4.7,4,avg,avg,actively_looking_into_it,1,0.440654,NO
44,C100146,one,110.251451,47860.5,227,19,845180.0,False,3,3,...,260,26,2.9,6,very_unsat,very_high,perhaps,1,0.072091,NO
45,C100158,one,158.682635,59303.5,202,70,531482.0,True,3,4,...,365,10,6.3,2,very_sat,very_little,no,1,0.358531,NO
46,C100161,one,278.388278,65340.0,179,54,370388.0,True,2,3,...,391,11,6.6,1,very_unsat,very_high,considering,0,0.641527,yes
47,C100162,one,990.000000,49420.5,0,24,547981.0,True,1,4,...,351,0,2.3,4,very_unsat,little,considering,1,0.157718,NO
48,C100167,zero,1530.000000,32025.0,0,0,287623.0,True,1,2,...,315,1,3.1,10,unsat,avg,actively_looking_into_it,0,0.652819,yes
49,C100168,zero,801.980198,85474.0,203,0,231685.0,True,3,4,...,445,25,7.1,9,very_unsat,very_high,no,0,0.712502,yes

In [118]:
df['CLIENT_TO_CONTACT']

0        NO
1        NO
2        NO
3        NO
4        NO
       ...
3988     NO
3989    yes
3990     NO
3991     NO
3992     NO
Name: CLIENT_TO_CONTACT, Length: 3993, dtype: object

i propose when contacting customer to propose a discount 
the discount is difference between there bill phone and the mean of the bill phone of all the customer
 
but since ,we call the customer , there are a fixed cost of 10 euro , so we removed this fixed cost from the discount 

finanly the discount =bill phone-(mean(bill phone)+10.0)

In [119]:

discount1=df['REVENUE']-mean(df['REVENUE'])-10.0
print(discount1)

0       -16.501628
1        10.498372
2       -41.501628
3       113.498372
4       -37.501628
           ...
3988      2.498372
3989     47.498372
3990    -50.501628
3991    -19.501628
3992    -55.501628
Name: REVENUE, Length: 3993, dtype: float64

In [120]:

#fixed cost of 10€ to contacting a customer
fixed_cost=10.0
discount=0

df['DISCOUNT']=discount1

In [121]:
df['DISCOUNT'][3989]

47.498372151264704

In [122]:
df

,CUSTOMER_ID,COLLEGE,DATA,INCOME,OVERCHARGE,LEFTOVER,HOUSE,LESSTHAN600k,CHILD,JOB_CLASS,...,OVER_15MINS_CALLS_PER_MONTH,TIME_CLIENT,AVERAGE_CALL_DURATION,REPORTED_SATISFACTION,REPORTED_USAGE_LEVEL,CONSIDERING_CHANGE_OF_PLAN,CHURNED,CHURN_PROBABILITY,CLIENT_TO_CONTACT,DISCOUNT
0,C100002,one,80.000000,45452.5,75,65,342741.0,True,3,1,...,3,2.2,2,unsat,little,considering,1,0.470045,NO,-16.501628
1,C100003,zero,536.842105,40703.5,90,0,215904.0,True,1,1,...,4,2.4,13,unsat,very_high,actively_looking_into_it,1,0.484531,NO,10.498372
2,C100004,zero,256.578947,35563.0,52,0,341828.0,True,2,3,...,5,2.3,12,very_sat,avg,considering,1,0.312073,NO,-41.501628
3,C100005,zero,466.666667,66072.5,0,8,257222.0,True,3,1,...,1,2.8,5,very_sat,very_little,actively_looking_into_it,1,0.116515,NO,113.498372
4,C100007,zero,150.000000,21901.5,0,0,800811.0,False,1,3,...,1,1.5,12,avg,very_high,perhaps,1,0.047330,NO,-37.501628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3988,C115959,one,960.000000,52783.5,0,0,822669.0,False,4,1,...,0,2.2,9,avg,very_high,never_thought,1,0.261800,NO,2.498372
3989,C115961,zero,540.609137,58424.0,224,7,429682.0,True,2,2,...,17,5.1,4,sat,little,considering,0,0.627760,yes,47.498372
3990,C115962,zero,102.762431,38030.5,235,57,612910.0,False,4,1,...,12,2.1,1,very_sat,high,considering,1,0.187333,NO,-50.501628
3991,C115969,one,1200.000000,62203.0,70,0,820709.0,False,2,2,...,3,6.8,12,very_unsat,little,considering,1,0.256100,NO,-19.501628
3992,C115971,zero,142.105263,51463.0,0,9,197486.0,True,3,4,...,0,1.9,4,very_unsat,little,no,1,0.070178,NO,-55.501628

In [123]:
#to modify the value of discount with zero for customer how will no contact them
df.loc[df["CLIENT_TO_CONTACT"] == "NO", "DISCOUNT"] = 0

In [124]:
df

,CUSTOMER_ID,COLLEGE,DATA,INCOME,OVERCHARGE,LEFTOVER,HOUSE,LESSTHAN600k,CHILD,JOB_CLASS,...,OVER_15MINS_CALLS_PER_MONTH,TIME_CLIENT,AVERAGE_CALL_DURATION,REPORTED_SATISFACTION,REPORTED_USAGE_LEVEL,CONSIDERING_CHANGE_OF_PLAN,CHURNED,CHURN_PROBABILITY,CLIENT_TO_CONTACT,DISCOUNT
0,C100002,one,80.000000,45452.5,75,65,342741.0,True,3,1,...,3,2.2,2,unsat,little,considering,1,0.470045,NO,0.000000
1,C100003,zero,536.842105,40703.5,90,0,215904.0,True,1,1,...,4,2.4,13,unsat,very_high,actively_looking_into_it,1,0.484531,NO,0.000000
2,C100004,zero,256.578947,35563.0,52,0,341828.0,True,2,3,...,5,2.3,12,very_sat,avg,considering,1,0.312073,NO,0.000000
3,C100005,zero,466.666667,66072.5,0,8,257222.0,True,3,1,...,1,2.8,5,very_sat,very_little,actively_looking_into_it,1,0.116515,NO,0.000000
4,C100007,zero,150.000000,21901.5,0,0,800811.0,False,1,3,...,1,1.5,12,avg,very_high,perhaps,1,0.047330,NO,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3988,C115959,one,960.000000,52783.5,0,0,822669.0,False,4,1,...,0,2.2,9,avg,very_high,never_thought,1,0.261800,NO,0.000000
3989,C115961,zero,540.609137,58424.0,224,7,429682.0,True,2,2,...,17,5.1,4,sat,little,considering,0,0.627760,yes,47.498372
3990,C115962,zero,102.762431,38030.5,235,57,612910.0,False,4,1,...,12,2.1,1,very_sat,high,considering,1,0.187333,NO,0.000000
3991,C115969,one,1200.000000,62203.0,70,0,820709.0,False,2,2,...,3,6.8,12,very_unsat,little,considering,1,0.256100,NO,0.000000
3992,C115971,zero,142.105263,51463.0,0,9,197486.0,True,3,4,...,0,1.9,4,very_unsat,little,no,1,0.070178,NO,0.000000

In [132]:
new=df[["CUSTOMER_ID",'CHURNED','CHURN_PROBABILITY','CLIENT_TO_CONTACT','DISCOUNT']]

In [133]:
new

     CUSTOMER_ID  CHURNED  CHURN_PROBABILITY CLIENT_TO_CONTACT   DISCOUNT
0        C100002        1           0.470045                NO   0.000000
1        C100003        1           0.484531                NO   0.000000
2        C100004        1           0.312073                NO   0.000000
3        C100005        1           0.116515                NO   0.000000
4        C100007        1           0.047330                NO   0.000000
...          ...      ...                ...               ...        ...
3988     C115959        1           0.261800                NO   0.000000
3989     C115961        0           0.627760               yes  47.498372
3990     C115962        1           0.187333                NO   0.000000
3991     C115969        1           0.256100                NO   0.000000
3992     C115971        1           0.070178                NO   0.000000

[3993 rows x 5 columns]

In [135]:
new.rename(columns = {'CHURNED':'CHURN_LABEL'}, inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [136]:
new

     CUSTOMER_ID  CHURN_LABEL  CHURN_PROBABILITY CLIENT_TO_CONTACT   DISCOUNT
0        C100002            1           0.470045                NO   0.000000
1        C100003            1           0.484531                NO   0.000000
2        C100004            1           0.312073                NO   0.000000
3        C100005            1           0.116515                NO   0.000000
4        C100007            1           0.047330                NO   0.000000
...          ...          ...                ...               ...        ...
3988     C115959            1           0.261800                NO   0.000000
3989     C115961            0           0.627760               yes  47.498372
3990     C115962            1           0.187333                NO   0.000000
3991     C115969            1           0.256100                NO   0.000000
3992     C115971            1           0.070178                NO   0.000000

[3993 rows x 5 columns]

In [139]:
new.loc[df["CHURN_LABEL"] == 1, "CHURN_LABEL"] = "STAY"

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [141]:
new.loc[df["CHURN_LABEL"] == 0, "CHURN_LABEL"] = "LEAVE"

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [142]:
new

     CUSTOMER_ID CHURN_LABEL  CHURN_PROBABILITY CLIENT_TO_CONTACT   DISCOUNT
0        C100002        STAY           0.470045                NO   0.000000
1        C100003        STAY           0.484531                NO   0.000000
2        C100004        STAY           0.312073                NO   0.000000
3        C100005        STAY           0.116515                NO   0.000000
4        C100007        STAY           0.047330                NO   0.000000
...          ...         ...                ...               ...        ...
3988     C115959        STAY           0.261800                NO   0.000000
3989     C115961       LEAVE           0.627760               yes  47.498372
3990     C115962        STAY           0.187333                NO   0.000000
3991     C115969        STAY           0.256100                NO   0.000000
3992     C115971        STAY           0.070178                NO   0.000000

[3993 rows x 5 columns]

In [143]:
new.to_csv("modification_in_result")